src/main/mule/wheaterapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="056cd1a0-b207-4e15-be49-0452b1fb5eb1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="44e7e548-3e14-4d4c-a33c-a6f5f7d63723" >
		<http:request-connection host="localhost" port="8081" />
	</http:request-config>
	<flow name="wheaterapiFlow" doc:id="18fb10fd-41cc-44a3-84fe-b3fa242a1c09" >
		<http:listener doc:name="Listener" doc:id="d7a6137b-9531-4617-beab-5b95e8f21977" path="/weather/{cityname}" config-ref="HTTP_Listener_config" allowedMethods="GET"/>
		<set-payload value="#[attributes.uriParams.cityname]" doc:name="Set Payload" doc:id="46f12624-b04c-4712-bde6-3f232901d34d" />
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="ae3b4f9b-13e9-4c45-b9d8-ec785106f2fa" variableName="name"/>
		<http:request method="GET" doc:name="Request" doc:id="71921262-230a-479d-afb0-afaf1ceafb11" config-ref="HTTP_Request_configuration" url="http://api.openweathermap.org/data/2.5/weather">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"q" : vars.name,
	appid : "e73bc60356a5862e28b9629fac809886"
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="3864ab74-8dca-44fd-ace6-5acbde900c8b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{   
	
	"city name":vars.name,
	"minimum temperature":payload.main.temp_min as Number-273 ++" celcius",
	"maximum temperature":payload.main.temp_max as Number-273 ++" celcius"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
